{% extends 'base.html.twig' %}
{% use '_testlist.html.twig' %}

{% block title %}
    All tags list
{% endblock %}

{% block main_column %}

    {% for tag in tags %}
        <a href="{{ path('tests_by_tag', {
            'name': tag.name
        }) }}"
           class="badge badge-info">
            {{ tag.name }}
        </a>
    {% endfor %}

    {% block pagination %}
        <div class="row">
            <div class="col">
                <div class="navigation">
                    {{ knp_pagination_render(tags) }}
                </div>
            </div>

            <div class="col">
                {% if tags.getTotalItemCount == 1 %}
                    {% set tagWithSuffix = 'tag' %}
                {% else %}
                    {% set tagWithSuffix = 'tags' %}
                {% endif %}
                <span class="float-right">{{ tags.getTotalItemCount }} {{ tagWithSuffix }} total</span>
            </div>
        </div>
    {% endblock %}

{% endblock %}