{% block testlist %}
    {# todo page navigation #}

    {% for test in tests %}
        <div class="row">
            <div class="col">
                <a href="">
                    <h4>{{ test.name }}</h4>
                </a>
            </div>
            <div class="col">
                <div class="float-right">{{ test.successAttempts }} / {{ test.allAttempts }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for tag in test.tags %}
                    {% if wanted_tag is defined and wanted_tag == tag.name %}
                        <span class="badge badge-success">{{ tag.name }}</span>
                    {% else %}
                        <a href="{{ path('tests_by_tag', {'tag': tag.name}) }}"
                           class="badge badge-info">
                            {{ tag.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}