{% block testlist %}
    {% for test in tests %}
        <div class="row">
            <div class="col">
                <a href="{{ path('test_preview', {
                    'slug': test.slug
                }) }}">
                    <h4>{{ test.name }}</h4>
                </a>
            </div>
            <div class="col">
                <span class="float-right">{{ test.successAttempts }} / {{ test.allAttempts }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for tag in test.tags %}
                    <a href="{{ testByTagUrl(tag) }}"
                       class="badge badge-info">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}