{% extends 'main/homepage.html.twig' %}
{% use '_testlist.html.twig' %}

{% block main_column %}
    <h2>
        {% block title %}
            All tests
        {% endblock %}
    </h2>

    {% block search_form %}
        {#todo ajax autocompletion#}
        {{ form_start(searchForm) }}
        {{ form_errors(searchForm.text) }}
        {{ form_widget(searchForm.text) }}

        <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(searchForm) }}
    {% endblock %}

    {% block testlist %}
        {{ parent() }}
    {% endblock %}

    {% block pagination %}
        <div class="row">
            <div class="col">
                <div class="navigation">
                    {{ knp_pagination_render(tests) }}
                </div>
            </div>

            <div class="col">
                {% if tests.getTotalItemCount == 1 %}
                    {% set testWithSuffix = 'test' %}
                {% else %}
                    {% set testWithSuffix = 'tests' %}
                {% endif %}
                <span class="float-right">{{ tests.getTotalItemCount }} {{ testWithSuffix }} total</span>
            </div>
        </div>
    {% endblock %}



{% endblock %}

{% block page_info %}
    <p>Search what you interested in and go test your skills. Firsts are most popular</p>
{% endblock %}