{% extends 'base.html.twig' %}
{% use '_testlist.html.twig' %}

{% block body %}
    <h2>Test searching</h2>
    {{ form_start(searchForm) }}
        {{ form_errors(searchForm.search) }}
        {{ form_widget(searchForm.search, {
            'attr': {
                'value': searchValue
            }
        }) }}

        <button type="submit" class="btn btn-primary">Search</button>
    {{ form_end(searchForm) }}

    {% block testlist %}
        {{ parent() }}
    {% endblock %}
{% endblock %}